.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 24px;
  padding-bottom: 64px;
}

.social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 24px 32px;
}

@media screen and (max-width: 768px) {
  .main {
    padding-bottom: 32px;
  }
  
}
